body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0c0f12;
    height: 100px;
}

header nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
header img {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 50px;
    margin-left: 5%;
}

a {
    font-size: 18px;
    color: #de9b35;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 10%;
}

#form {
    background-image: url(../imagens/login_background.jpg);
    background-repeat: no-repeat;
    height: 135%;
    display: flex;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #de9b35;
    z-index: 99;
    top: 35%;
    left: 33%;
    background-color: #0c0f12cc;
    border-radius: 50px;
    width: 500px;
    height: 450px;
}

form input{
    margin-top: 2%;
    color: #de9b35;
    background-color: #0c0f12;
    border: #de9b35 solid 2px;
    height: 25px;
    width: 200px;
    border-radius: 10px;
}

form button {
    background-color: #0c0f12;
    color: #de9b35;
    border: #de9b35 solid 2px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
}

form p{
    padding-top: 5%;
    width: 60%;
}

button:hover{
    transition: 1s;
    width: 105px;
    height: 40px;
}

form span {
    font-size: 13px;
    margin-bottom: 3%;
}

footer {
    display: flex;
    color: #de9b35;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    height: 200px;
    background-color: #0c0f12;
}

footer p {
    border-bottom: solid 2px #de9b35;
}